/* .CarouselContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
} */

.carousel {
  width: 100vw;
  height: auto;
  display: block;
  margin: auto;
}
