@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
.Introduce {
  font-family: "Gugi", cursive;
  text-align: center;
  border-style: dashed;
  width: 90vw;
  margin: auto;
  padding: 1rem;
  border-color: brown;
  margin-bottom: 20vh;
}

.Introduce p {
  font-size: 15px;
  line-height: 2rem;
  text-align: left;
  letter-spacing: 1px;
}

.Introduce h1 {
  font-size: 2rem;
  color: black;
  font-style: italic;
}

.Introduce h4 {
  font-size: 1.5rem;
  line-height: 3rem;
}

.projectImage {
  width: 90vw;
  height: 50vh;
  display: block;
  margin: 5vh auto 5vh;
}

.calendar {
  display: block;
  margin: auto;
}

.doneList {
  text-decoration: line-through;
}

.introduceP p {
  text-align: center;
}

.introduceP p:nth-last-child(1) {
  font-size: 3rem;
  text-decoration: solid underline;
  color: red;
  line-height: 5rem;
}

.projectList ul li {
  line-height: 3rem;
}

.introduceProject {
  min-width: 400;
}
