@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.Introduce {
  font-family: "Gugi", cursive;
  text-align: center;
}

.Introduce p {
  font-size: 15px;
  line-height: 2rem;
  text-align: left;
  letter-spacing: 1px;
}

.Introduce h1 {
  font-size: 2rem;
}

.Introduce h4 {
  font-size: 1.5rem;
  line-height: 3rem;
}

.projectImage {
  width: 80vw;
  height: 40vh;
  display: block;
  margin: auto;
}
