.CarouselContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
}

.FrontArticleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
}

#navHover:hover {
  background-color: rgb(98, 166, 197);
  border-radius: 15%;
  transition: 1s;
  color: white;
  text-decoration: underline;
  transform: rotateY(360deg);
}

#FrontArticleButtons {
  background-color: rgb(215, 250, 255);
  color: black;
}
